{% extends "base.html" %} {% block content %}{% include "includes/nav.html" %}
<div class="w-full px-3 lg:w-2/3 mx-auto py-5">
  <a
      class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white rounded-full transition duration-200"
      href="/"
      >&lt; Return Home</a
    >
    
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="flex flex-col items-center gap-2 w-1/2 mx-auto pb-5">
    <h1 class="text-2xl font-bold">You likely have</h1>
    <div class="text-3xl font-bold">
      {{ messages[0].split(": ")[1].replace("\']", "") }}
    </div>
    <p class="text-sm text-center">
      {{ helpline[messages[0].split(": ")[1].replace("\']", "")]["description"] }}
    </p>
    <a
      class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white rounded-full transition duration-200"
      href="/illness/{{ messages[0].split(': ')[1].replace('\']', '') }}"
      >Learn More</a
    >
  </div>
  {% endif %} {% endwith %}{% include "includes/historyTable.html" %}
</div>
{% include "includes/footer.html" %} {% endblock %}
