{% extends "base.html" %} {% block content %}{% include "includes/nav.html" %}
<div
  class="w-5/6 md:w-1/3 mx-auto mt-5 flex flex-col justify-center items-center gap-6 mb-12"
>
  <div class="flex gap-5 justify-between w-full items-center">
    <a
      class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white rounded-full transition duration-200"
      href="/"
      >&lt;&nbsp;Back</a
    >
    <div class="flex flex-col w-full">
      <p>All content cited from Mayo Clinic.</p>
      <a
        href="{{helpline[illness]['url']}}"
        class="text-blue-600 hover:text-blue-500 underline"
        >Visit them for more information</a
      >
    </div>
  </div>
  <section class="flex flex-col gap-5 justify-between items-center mb-6">
    <h2 class="text-3xl font-bold">Overview</h2>
    {% for overview in
    soup.body.findAll("h2",text='Overview')[0].find_next_siblings("p")[:3] %}
    <p>{{overview.text}}</p>
    {% endfor %}
  </section>
  <section class="flex flex-col gap-5 justify-between items-center mb-6">
    <h2 class="text-3xl font-bold">When should you visit doctor</h2>
    {% for steps in soup.body.findAll("h3",text='When to see a doctor')[0].find_next_siblings()[:4] %}
    <p>{{steps.text}}</p>
    {% endfor %}
  </section>
    <section class="flex flex-col gap-5 justify-between items-center mb-6">
    <h2 class="text-3xl font-bold">Prevention</h2>
    {% for steps in soup.body.findAll("h2",text='Prevention')[0].find_next_siblings()[:4] %}
    <p>{{steps.text}}</p>
    {% endfor %}
  </section>
</div>
<br />
{% include "includes/footer.html" %} {% endblock %}
