.sorted-asc::after {
  content: "⯆";
  transform: rotate(180deg);
  display: inline-block;
  font-size: 1rem;
}

.sorted-desc::after {
  content: "⯆";
  display: inline-block;
  transform: rotate(360deg);
  font-size: 1rem;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle !important;
}

.sortable::after {
  transition: transform ease-in-out 300ms;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

