
input:not(input[type="checkbox"]) {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

input:not(input[type="checkbox"]):focus {
  outline: none;
  border-bottom: 0 !important;
}

/* LABEL ======================================= */
label:not(label[class="checkbox-container"]) {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 12.5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:not(input[type="checkbox"]):focus ~ label,
input:not(input[type="checkbox"]):valid ~ label {
  top: -22.5px;
  left: 0px;
  font-size: 12px;
  color: black;
}

